# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Visual Studio Code folder
.vscode/

# CMake files and folders
build/
out/
temp/
CMakeSettings.json

# Files and folders from my environment
SDL2/
